      body {
        padding: 20px;
      }

      .file {
        margin-top: 24px;
        font-weight: bold;
      }

      .text {
        border-style: solid;
        border-width: 1px;
        padding: 20px;
        margin-bottom: 12px;
      }

      .container {
        padding: 48px;
        width: 800px;
      }

      .drop_zone {
        padding: 20px;
        border-style: dotted;
        text-align: center;
        margin-right: 8px;
        display: inline;
      }

      h1 {
        font-family: arial;
      }